table{
    width:50%;
    table-layout: fixed;
    min-width:50%;
    border-collapse: collapse;
    padding-left: 500px;
    border-radius: 15px;
}
th, td{
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    word-break: break-all;
    text-align: center;
    font-size:14px;

}
tr:hover td{
    color: #0298cf;
    cursor: pointer;
    background-color: #f6f9fc;
}